.beer-container {
  border: 5px solid black;
}

.beer-selector {
  border: 5px solid black;
}

li {
  list-style-type: none;
}

.interactive {
  border: 5px solid black;
}

.drank {
  text-decoration: line-through;
}